image: python:3.11

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

stages:
  - build

build:
  stage: build
  script:
    - python --version
    - echo "Pipeline werkt!"
