image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

before_script:
  - apk add --no-cache python3 py3-pip  # Python installeren
  - python3 --version
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

stages:
  - build

build:
  stage: build
  script:
    - echo "Pipeline werkt met Docker en Python"
