image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""  # belangrijk om TLS fouten te vermijden

before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin

stages:
  - test

test-docker:
  stage: test
  script:
    - docker info
