image: docker:latest

services:
  - name: docker:dind
    command: ["--tls=false"]

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin

stages:
  - build
  - deploy

build:
  stage: build
  privileged: true
  script:
    - docker build -t $DOCKER_USER/discordbot:latest .
    - docker push $DOCKER_USER/discordbot:latest

deploy:
  stage: deploy
  privileged: true
  script:
    - echo "Deploying..."
  only:
    - main
