image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
zierick03/discordbot: zierick03zierick03/discordbot

before_script:
  - apk update
  - apk add --no-cache py3-pip python3-dev libffi-dev gcc libc-dev mariadb-dev


stages:
  - build
  - test
  - push

build:
  stage: build
  script:
    - docker build -t zierick03/discordbot:latest .
    - docker images

test:
  stage: test
  script:
    - docker run --rm zierick03/discordbot:latest python3 --version

push:
  stage: push
  only:
    - main
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker push zierick03/discordbot:latest
