image: docker:latest

stages:
  - build
  - test
  - push

before_script:
  - docker info

build:
  stage: build
  script:
    - docker build -t zierick03/discordbot:latest .

test:
  stage: test
  script:
    - python3 -m pip install -r requirements.txt pytest pytest-cov
    # - pytest tests/

push:
  stage: push
  only: [main]
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker push zierick03/discordbot:latest
