stages:
  - build
  - deploy

variables:
  IMAGE: "$DOCKER_USER/discordbot:latest"

build:
  stage: build
  script:
    - echo "Controleren of Docker-daemon draait"
    - docker info
    - echo "Bouwen van Docker-image"
    - docker build -t "$IMAGE" .

deploy:
  stage: deploy
  only:
    - main
  script:
    - echo "Inloggen op Docker Hub"
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - echo "Pushen van $IMAGE"
    - docker push "$IMAGE"
