stages:
  - build
  - deploy

variables:
  IMAGE: "$DOCKER_USER/discordbot:latest"

build:
  stage: build
  script:
    - docker info
    - docker build -t "$IMAGE" .

deploy:
  stage: deploy
  only:
    - main
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - docker push "$IMAGE"
