image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_NAME: zierick03/discordbot

before_script:
  - apk update
  - apk add --no-cache py3-pip python3-dev libffi-dev gcc libc-dev mariadb-dev


stages:
  - build
  - test
  - push

build:
  stage: build
  script:
    - docker build -t $IMAGE_NAME:latest .
    - docker images

test:
  stage: test
  script:
    - docker run --rm $IMAGE_NAME:latest python3 --version

push:
  stage: push
  only:
    - main
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker push $IMAGE_NAME:latest
