image: docker:latest

services:
  - docker:dind

stages:
  - test

variables:
  DOCKER_DRIVER: overlay2

test_login:
  stage: test
  script:
    - echo "USERNAME: $DOCKER_USERNAME"
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
