stages:
  - build
  - push

before_script:
  # Docker login
  - echo "Inloggen op Docker Hub om pulls te authenticeren"
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

build:
  stage: build
  script:
    - docker build -t zierick03/discordbot:latest .

push:
  stage: push
  only:
    - main
  script:
    - docker push zierick03/discordbot:latest
