# .gitlab-ci.yml
# Zorg dat deze tag overeenkomt met wat je bij register hebt ingesteld:
# bijv. tags: ["shell"]

stages:
  - build
  - deploy

build:
  stage: build
  tags:
    - shell
  script:
    - docker info
    - docker version
    - docker build -t $DOCKER_USER/discordbot:latest .

deploy:
  stage: deploy
  tags:
    - shell
  only:
    - main
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - docker push $DOCKER_USER/discordbot:latest
