version: '3'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_NAME=jouw_database_naam
      - DB_USER=root
      - DB_PASSWORD=root_password
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: jouw_database_naam
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
