apiVersion: v1
kind: Service
metadata:
  name: discord-bot
  namespace: default
spec:
  selector:
    app: discord-bot
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
